.answer
  &.-best:not(.-editing)
    @extend .success

  &_content
    @at-root .answer.-editing &
      display: none

  &_best-label
    @extend .label, .label-success
    display: none

    @at-root .answer.-best &
      display: block

    @at-root .answer.-best.-editing &
      display: none

  &_mark-as-best-trigger
    @at-root .answer.-best &
      display: none

  &_description
    margin-right: 150px

    @at-root .answer.-editing &
      margin: 0

  &_attachments
    margin-bottom: 0

    @at-root .answer.-editing &
      display: none





