.voting
  width: 100px

  &_rating
    font-size: 20px
    text-align: center
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    border: 1px solid grey
    border-bottom: 0

.voting-control
  @include clearfix
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px
  border: 1px solid grey

  &_button
    text-align: center
    font-size: 12px
    width: 50%

    &.-upvote
      float: right

    &.-downvote
      float: left


.question_voting
  float: right

.question-content
  margin-right: 130px
