.question-show
  @include default-action-page

  &_actions
    @at-root .question.-editing &
      display: none

  &_delete-button
    @extend .btn, .btn-danger, .btn-sm

  &_edit-button
    @extend .btn, .btn-primary, .btn-sm

  &_edit-form-wrapper
    @extend .well

  &_button
    margin-right: 10px



.question-edit-form
  @include default-form
  @extend .well

  display: none
  margin-top: 30px

  @at-root .question.-editing &
    display: block

  &_button
    margin-right: 10px
    @extend .btn, .btn-sm

  &_cancel-button
    @extend .btn-default
