<header class="header">
  <div class="header_wrapper">
    <nav class="main-menu">
      <ul class="main-menu_wrapper">
        <li class="main-menu_item"><%= link_to_unless_current 'Последние вопросы', questions_path %></li>
        <li class="main-menu_item"><%= link_to_unless_current 'Поиск', searches_path %></li>

        <% if current_user %>
            <li class="main-menu_item -logout">
              <%= link_to 'Выйти', destroy_user_session_path, method: :delete %><br/>
            </li>
        <% else %>
            <li class="main-menu_item -login login-block">
              <%= render partial: 'common/login_block' %>
            </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
