<ul class="login-block">
  <li class="login-block_item"><%= link_to 'Войти', user_session_path %></li>
  <%- Devise.omniauth_providers.each do |provider| %>
      <li class="login-block_item">
        <%= icon(provider, class: "login-block_item-icon -#{provider}") %>
        <%= link_to omniauth_authorize_path('user', provider) do %>
            <%= "Войти через #{OmniAuth::Utils.camelize(provider)}" %>
        <% end %>
      </li>
  <% end %>
</ul>
